.header {
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  display: grid;
  grid-template-columns: 50% 20% 20% 10%;
}
.title {
  justify-content: center;
}

.title a {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-width: 0;
  color: black;
  font-size: x-large;
  text-decoration: none;
}

.title,
.source {
  padding: 1em 1rem 1rem 1rem;
  font-size: x-large;
  display: grid;
  align-items: center;
  border-right: 2px black solid;
  font-weight: 400;
}

.source {
  justify-content: center;
  color: rgb(39, 85, 62);
  font-weight: 800;
}

.source a {
  cursor: pointer;
  color: rgb(39, 85, 62);
  text-decoration: none;
}

.theme {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

.buttonSolid {
  background-color: rgb(39, 85, 62);
  border-width: 0;
  color: aliceblue;
  font-size: large;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 15% 20%;
  column-gap: 5%;
}

.buttonAndCaption {
  margin: 0.5rem;
  display: grid;
  grid-template-rows: auto auto;
}

.buttonAndCaption a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  margin-top: 0.25rem;
}

.themeIcon {
  width: 30px;
  height: 30px;
}

.container {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: x-large;
  max-width: 100%;
  height: 400px;
  max-height: auto;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  display: grid;
  align-items: center;
}

.container img,
.container video,
.container div {
  max-width: 100%; /* Set the maximum width of the image to 100% of the container */
  max-height: 100%; /* Set the maximum height of the image to 100% of the container */
  object-fit: contain; /* Maintain the image's aspect ratio and fit it within the container */
}

.supercontainer {
  margin-top: 2rem;
  font-size: x-large;
  max-width: 100%;
  max-height: 500px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  column-gap: 5%;
}

.supercontainerDocs {
  margin-top: 2rem;
  font-size: x-large;
  max-width: 100%;
  max-height: 500px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 60%;
  column-gap: 5%;
}

.mainTitle {
  font-size: 7rem;
  display: grid;
  align-items: start;
}

.titleCaption {
  height: 1rem;
}

main {
  display: grid;
  grid-template-columns: 75%;
  justify-content: center;
  align-items: center;
}

html {
  background-color: rgb(255, 251, 234);
  font-family: "Courier New", Courier, monospace;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: auto;
}

@media only screen and (max-width: 640px) {
  .header {
    display: grid;
    grid-template-columns: auto;
  }
  .title,
  .source {
    border-right: none;
    border-bottom: 2px black solid;
  }
  .subcontainer {
    height: 100%;
    /* display: grid; */
    /* grid-template-rows: 30% 20% 40%; */
  }
  .container {
    height: auto;
  }
  .mainTitle {
    font-size: 4rem;
    height: auto;
  }
  .buttonContainer {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 5%;
  }
}
